.control-pane .control-button:hover {
	-fx-opacity: 0.5;
}

.control-pane .progress-bar .track {
	-fx-pref-height: 4px ;
	-fx-opacity: 0.4 ;
	-fx-background-color: white;
}

.control-pane .progress-bar .colored-track {
	-fx-background-color: linear-gradient(to right, #6800b8, #ff0055);
}

.control-pane .progress-bar .animated-thumb {
	-fx-background-color: #8900f2 ;
}

.control-pane .progress-bar .thumb {
	-fx-background-color: white ;
}

.control-pane .volume-slider {
	-jfx-default-thumb: #f05;
}

.control-pane .volume-slider .track {
	-fx-opacity: 0.4 ;
	-fx-background-color: white;
}

.control-pane .volume-slider .thumb {
	-fx-background-color: white ;
}