.jfx-text-field {
	-fx-prompt-text-fill: #999 ;
}

.scroll-pane,
.scroll-pane .viewport {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.text-field {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.text-field:focused {
	-fx-border-color: white;
}

.image-browse-button {
	-fx-background-color: transparent;
}

.cover-shade {
	-fx-opacity: 0;
}

.cover-shade:hover {
	-fx-opacity: 0.7;
}

.check-box .box {
	-fx-background-color: transparent;
	-fx-border-color: white;
	-fx-border-radius: 4;
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.cancel-button {
	-fx-background-color: #81888c ;
	-fx-text-fill: white ;
}

.cancel-button:hover {
	-fx-background-color: #989fa3 ;
}

.cancel-button:pressed {
	-fx-background-color: #656a6e ;
}

.confirm-button {
	-fx-background-color: #f05 ;
	-fx-text-fill: white ;
}

.confirm-button:hover {
	-fx-background-color: #ff3075 ;
}

.confirm-button:pressed {
	-fx-background-color: #ff5c92;
}