.root {
	-fx-background-color: transparent ;
}

.title-bar {
	-fx-background-color: linear-gradient(to right, #8900f2, #e500a4, #8900f2);
}

.title-bar .window-button:hover {
	-fx-opacity: 0.5;
}

/* navigation */

/* player control panel */
.control-pane .control-button:hover {
	-fx-opacity: 0.5;
}

.control-pane .progress-bar {
	-jfx-default-thumb: linear-gradient(to right, #8900f2, #e500a4);
}

.control-pane .progress-bar > .thumb {
	-fx-background-color: #CED4DA ;
}

.control-pane .volume-slider {
	-jfx-default-thumb: linear-gradient(to right, #8900f2, #0096c7);
}

.control-pane .volume-slider > .thumb {
	-fx-background-color: #CED4DA ;
}

/* play list */
.list-cell {
	-fx-background-color:  #2B3035 ;
}

.list-cell:selected {
	-fx-background-color: #343A40 ;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
	-fx-background-color: transparent ;
	-fx-background-radius: 0em ;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent ;
	-fx-border-color: transparent ;
	-fx-background-radius: 0em ;
	-fx-border-radius: 0em ;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent ;
	-fx-background-radius: 0.0em ;
	-fx-padding: 0 10 0 0
}

.scroll-bar:vertical .increment-arrow, 
.scroll-bar:vertical .decrement-arrow {
	-fx-background-color: transparent ;
	-fx-padding: -2
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #6C757D
} 

.separator *.line {
	-fx-border-style: solid ;
	-fx-border-width: 1px ;
	-fx-border-color:  #555 ;
}